div
	div.form-horizontal
		div.control-group
			label.control-label(for="queryString") Search for something:
			div.controls
				input.search-box.gap(type="text", name="queryString", placeholder="search for something...")
				input.search-btn.btn(type="button", value="Search")

	div
		span.aggregatedPhotos